body {
    margin: 0;
    padding: 0;
}

.playground {
    position: relative;
    width: 65vw;
    height: 65vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.card {
    position: relative;
    height: 100%;
    width: 10px;
}

.card img {
    position: absolute;
    left: 0;
    height: 100%;
}*/

.player-hand {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 1em;
    background-color: #8fc5f84e;
    border-radius: 12px;

    width: 80%;
    height: 20%;
}



.opponent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 10px;

    padding: 1em;
    background-color: #c58ff84e;
    border-radius: 12px;

    width: fit-content;
}

/* ================ Card list ================ */

.card-list {
    display: flex;
    height: 100%;
    min-width: 100px;
}

.cards-container {
    display: flex;
    width: 100%;
}

.card {
    max-width: fit-content;

    &:not(:last-child) {
        min-width: 0;
        flex-shrink: 1;
    }
}

.card img {
    height: 100%;
}

/* ================ Buttons ================ */

.uno-button {
    position: absolute;

    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.say-uno {
    top: -2.5em;
    left: -1em;
}

.say-counter {
    top: -2.5em;
    right: -1em;
}