body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.playground {
    position: relative;
    width: 70vw;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-hand {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 1em;
    background-color: #8fc5f84e;
    border-radius: 12px;

    width: 80%;
    height: 20%;
}

.opponent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 10px;

    padding: 1em;
    background-color: #c58ff84e;
    border-radius: 12px;

    width: fit-content;
}

/* ================ Card list ================ */

.card-list {
    display: flex;
    height: 100%;
    min-width: 100px;
}

.cards-container {
    display: flex;
    width: 100%;
}

.card {
    max-width: fit-content;
    

    &:not(:last-child) {
        min-width: 0;
        flex-shrink: 1;
    }
}

.card > img {
    height: 100%;
}

.player-hand .card {
    transition: transform 0.2s, flex-shrink 0.2s;
    position: relative;
}
.player-hand .card:hover {
    cursor: pointer;
    transform: translateY(-2em);
    flex-shrink: 0.5;
}

/* ================ Top Bars ================ */

#bars-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 10px;
    margin: auto;
    width: 70%;
}

#market-button{
    position: absolute;
    right: 20px;
    top: 60%;
}

.uno-button {
    position: absolute;

    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.say-uno {
    top: -2.5em;
    left: -1em;
}

.say-counter {
    top: -2.5em;
    right: -1em;
}

/* ================ Pile ================ */

.pile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15%;

    padding: 0.5em;
    background-color: #f5f5f5a1;
    border-radius: 12px;
}

.pile .card {
    height: 100%;
}